<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>18/06/14 16:50:24</td>   <td>0</td> <td title="&gt;&gt;ExtentTestNGReportBuilder.beforeSuite()[pri:0, instance:com.rezgateway.automation.reports.ExtentTest@47c62251]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/06/14 16:50:24</td>   <td>291</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ExtentTestNGReportBuilder.beforeClass()[pri:0, instance:com.rezgateway.automation.reports.ExtentTest@47c62251]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/06/14 16:50:24</td>   <td>299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentTest.driver()[pri:0, instance:com.rezgateway.automation.reports.ExtentTest@47c62251]">driver</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/06/14 16:50:31</td>   <td>7452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentTestNGReportBuilder.afterMethod(org.testng.ITestResult)[pri:0, instance:com.rezgateway.automation.reports.ExtentTest@47c62251]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/06/14 16:50:32</td>   <td>8368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentTest.methodOne()[pri:0, instance:com.rezgateway.automation.reports.ExtentTest@47c62251]">methodOne</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/06/14 16:50:32</td>   <td>8371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentTestNGReportBuilder.afterMethod(org.testng.ITestResult)[pri:0, instance:com.rezgateway.automation.reports.ExtentTest@47c62251]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/06/14 16:50:32</td>   <td>8537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentTest.methodThree()[pri:0, instance:com.rezgateway.automation.reports.ExtentTest@47c62251]">methodThree</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/06/14 16:50:32</td>   <td>8543</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentTestNGReportBuilder.afterMethod(org.testng.ITestResult)[pri:0, instance:com.rezgateway.automation.reports.ExtentTest@47c62251]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/06/14 16:50:32</td>   <td>8660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentTest.methodTwo()[pri:0, instance:com.rezgateway.automation.reports.ExtentTest@47c62251]">methodTwo</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/06/14 16:50:32</td>   <td>8667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentTestNGReportBuilder.afterMethod(org.testng.ITestResult)[pri:0, instance:com.rezgateway.automation.reports.ExtentTest@47c62251]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/06/14 16:50:32</td>   <td>8781</td> <td>&nbsp;</td><td title="&lt;&lt;ExtentTest.tearDown()[pri:0, instance:com.rezgateway.automation.reports.ExtentTest@47c62251]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
</table>
